.panel-notification {
  /* background-color: rgb(159, 91, 3, 0.4); */
  align-items:center;
  position: absolute;
  /* min-height: 80vh;   */
  width: 220px;
  display: flex;
  flex-direction: column;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  left: 65px;
  padding-left: 2px;
  padding-right: 4px;
  /* overflow-y: auto; */
}

.counter-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: rgb(235, 66, 66);
  border-radius: 10px;
  color: aliceblue;
  font-size: small;
  pointer-events: none;
}

.section-no-notifications {
  padding : 10px;
  background-color: var(--surface);
  border-radius: 5px;
  border: 1px solid rgb(113, 113, 113);
  color: darkgrey;
}

.section-all-notifications {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border : 3px double rgb(4, 166, 210);
  max-height: 520px;
  overflow-y: auto;
}

.offer-notification {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(var(--cyan-rgb), 0.3);
  border: 1px solid rgb(113, 113, 113);
}

.first-line-notification {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.button-delete-notify {
  background-color: rgb(179, 56, 56);
  width: 24px;
  height: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.button-delete-notify:hover {
  opacity: 0.7;
  transition: 0.4s;
}
