/* Página Ofertante y OfferCard de página*/


.offerer-profile__alerts-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 15px;
}

.section-name {
  display : flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(132, 69, 5, 0.098);
  border-radius: 10px;
  padding: 10px 20px 8px 20px;
  margin-bottom: 20px;
  border: 2px solid #b86a2d;
}
.name-section {
  flex: 1;
  display: flex;

}

.title-name {
  text-decoration-color: azure;
  text-shadow: #0d1117;
  margin-left: 10px;
  margin-top: 6px
}

.company-section {
  flex: 1;
}

.separation-user {
  width: 2px;
  height: 70px;
  background-color: var(--text);
  margin: 0 10px 0 -60px;
}

.tab-cv-selector {
  display: flex;
  flex-direction: row;
}

.tab-left {
  background-color: #b86a2d;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 1px solid black;
  width: 223px;
  height: 30px;
}

.tab-left:hover {
  background-color: #b8692d81;
  border-right: 1px solid rgb(5, 172, 172);
  cursor: pointer;
}

.tab-left.selected {
  border: 1px solid #bdbd00;
}

.tab-left.non-selected {
  opacity: 0.6;
}

.tab-right {
  background-color: #4d79a8;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: 1px solid black;
  width: 223px;
  height: 30px;
}

.tab-right:hover {
  background-color: #2186de7d;
  border-right: 1px solid rgb(5, 172, 172);
  cursor: pointer;
}

.tab-right.selected {
  border: 1px solid #bdbd00;
}

.tab-right.non-selected {
  opacity: 0.6;
}

.title-visor-cvs {
  margin-top: 10px;
  margin-left: 5px;
}

.grid-cv-visor-offer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.section-cv-visor-closed {
  padding : 10px;
  background-color: var(--surface);
  border-radius: 5px;
  border: 1px solid rgb(113, 113, 113);
  color: darkgrey;
}

.section-cv-visor-opened {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  border : 3px double rgb(4, 166, 210);
  width: 455px;
  min-height: 400px;
  max-height: 680px;
  overflow-y: auto;
  overflow: visible;
}

.all-cv-section {
  display: grid;
  margin-left: 5px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 10px;
}

.cv-document {
  position: relative;
}

.cv-document .cv-svg {
    cursor: pointer;
    stroke: var(--text);
}

.cv-document:hover .cv-svg {
  stroke: rgb(3, 177, 200);
}

.cv-document.CONSIDERACION .cv-svg {
    stroke: #009603;
}

.cv-document.RECHAZADO .cv-svg {
    stroke: #930000;
}

.cv-name {
  position: absolute;
  top: 36%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  overflow-wrap: break-word;
  overflow:hidden;

  display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cv-label-tooltip {
    position: absolute;
    font-size: small;
    bottom: 3%;
    left: 65%;
    transform: translateX(-50%);
    background: #e9d5ff;
    color: black;
    border: 1px solid black;
    padding: 2px 5px;
    white-space: nowrap;
    visibility: hidden;
}

.cv-document:hover .cv-label-tooltip {
    visibility: visible;
    opacity: 1;
}

.cv-unit-buttons-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.cv-unit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid;
  border-top: none;
  border-color: var(--cv-unit-button-border-color);
  height: 33px;
  width: 66px;
  z-index: 4;
}

.cv-unit-button.tick {
  background-color:green;
  border-bottom-left-radius: 10px;
}

.cv-unit-button.cross {
  background-color: brown;
  border-bottom-right-radius: 10px;
}

.cv-unit-button-unique {
  position: relative;
  background-color: rgb(49, 134, 199);
  width: 132px;
  border: 3px solid rgb(204, 204, 204);
  border-top: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.cv-unit-button-unique:hover {
  background-color:rgb(34, 86, 127);
}

.tooltip-cv-button {
  position: absolute;
  background-color: #e9d5ff;
  border: 1px solid black;
  padding: 1px 2px;
  align-content:  center;
  color: #000;
  white-space: nowrap;
  visibility: hidden;
  z-index: 3;
}

.tooltip-cv-button {
  bottom: 110%;
  left: 90%;
  transform: translateX(-50%);
}

.cv-unit-button:hover .tooltip-cv-button {
  opacity: 1;
  visibility: visible;
}


.tooltip-cv-button.unique {
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.cv-unit-button-unique:hover .tooltip-cv-button {
    opacity: 1;
    visibility: visible;
}


.cv-unit-button:hover {
  cursor: pointer;
  transition: 0.3s;
}

.cv-unit-button.tick:hover {
  background-color: rgb(0, 84, 0);
}

.cv-unit-button.cross:hover {
  background-color: rgb(119, 30, 30);
}

.visor-saved-cv {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  border : 3px double chocolate;
  height: 260px;
  width: 455px;
}

.title-visor-saved-cvs {
  position: static;
  margin-left: 5px;
  margin-top: 5px;
}


.saved-cv-list{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  overflow: visible;
}

.offers-pagination-arrows {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}

.offers-pagination-arrow {
  height: 40px;
  border: 2px solid chocolate;
  cursor: pointer;
}

.offers-pagination-arrow:disabled {
  border: 2px solid rgba(123, 123, 123, 0.585);
  cursor: default;
}

.offers-pagination-arrow:hover {
  background-color: rgba(233, 232, 232, 0.585);
  transition: 0.3s;
}

.offers-pagination-arrow:disabled:hover {
  background-color: rgba(150, 150, 150, 0.491);
}

.offers-pagination-arrow.left-arrow {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.offers-pagination-arrow.right-arrow {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}

/* Right side Ofertante Page */

.offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-offer-button {
  border-radius: 10px;
  background-color: var(--accent);
  padding: 15px 20px;
  cursor: pointer;
  color:black;
}

.create-offer-button:hover {
  opacity: 0.85;
  border: 2px solid var(--text);
  transition: 0.5s;
}
