/* Main Login Page */

/*Header Login*/

.slogan-app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid chocolate;
}

.image-logo-login {
    width: 564px;
    height: 127px;
    padding-bottom: 0;
}

.slogan-title {
    margin-top: 0;
    color: chocolate;
}

.slogan-text {
    background-color: #1f1c17;
    width: 564px;
    text-align: center;
    height: 127px;
}

.slogan-description {
    align-content: center;
    padding: 10px 50px 5px 50px;
    width: 860px;
    text-align: center;
    font-size: large;
    font-style: italic;
    text-decoration-line: underline;
}

/* Body Login */

.login-side-text-grid {
    display: flex;
    justify-content:space-evenly;
    min-height: 80vh;
}

.tab-selector-login {
    display: flex;
    flex-direction: row;
}

.button-tab-left {
    background-color: #a5683ad3;
    border-top-left-radius: 10px;
    border-right: 1px solid black;
    width: 186px;
    height: 30px;
}

.button-tab-left:hover {
    background-color: #b8692d81;
    border-right: 1px solid rgb(5, 172, 172);
    cursor: pointer;
}

.button-tab-left.selected {
    border: 1px solid #bdbd00;
    border-bottom: 0;
}

.button-tab-left.non-selected {
    opacity: 0.6;
}

.button-tab-right {
    background-color: #4d79a8;
    border-top-right-radius: 10px;
    border-left: 1px solid black;
    width: 186px;
    height: 30px;
}

.button-tab-right:hover {
    background-color: #2186de7d;
    border-right: 1px solid rgb(5, 172, 172);
    cursor: pointer;
}

.button-tab-right.selected {
    border: 1px solid #bdbd00;
    border-bottom: 0;
}

.button-tab-right.non-selected {
    opacity: 0.6;
}

.login-form-section {
    display: block;
    /*width: 100%;*/
    max-width: 320px;
    background-color: #a5683ad3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 7px 7px rgba(242, 147, 47, 0.3);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.input-login {
    height: 25px;
    width: 78%;
    margin-bottom: 5px;
}


.text-link {
    color: aliceblue;
}

.text-recover-password:hover {
    opacity: 0.6;
}

.error-login {
    display: flex;
    font-size: medium;
    font-style: oblique;
    padding-bottom: 5px;
}

.error-credentials {
    display: flex;
    font-size: medium;
    font-weight: bold;
    color: rgb(12, 2, 51);
    padding-top: 8px;
    padding-bottom: 0;
    text-shadow: 2px 1px rgb(110, 97, 97);
}

.login-button {
    margin-top: 10px;
    border-radius: 10px;
    font-size: medium;
    padding: 10px 30px;
    background-color: rgb(70, 202, 200);
    color: black;
    border-color: black;
}

.login-button:hover {
    opacity: 0.75;
    border: 2px solid #2186de;
    transition: 0.5s;
}

.login-button:disabled {
    opacity: 1;
    background-color: rgb(19, 154, 154);
    color: #1f1c17;
    border: 2px solid #07090c;
    cursor: not-allowed;
}

.text-register-ofertante {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 100px 0;
    align-self: center;
    padding: 0 10px 8px 10px;
    height: 145px;
    width: 300px;
    background-color: #1f1c17;
    border: 3px double darkgray;
    border-radius: 10px;
    color: aliceblue;
}


.link-after-register {
    display: flex;
    margin-top: 10px;
    font-size: large;
    color: aliceblue;
    justify-content: center;
}


/* Register section */

.register-section-wrapper {
    display: block;
    margin-top: 25px;
}


.register-section {
    display: block;
    /*width: 100%;*/
    min-height: 140px;
    max-height: 220px;
    width: 320px;
    background-color: #4d79a8;
    border: 1px solid rgba(255,255,255,0.08);
    border-top: 0;
    box-shadow: 7px 7px 7px rgba(77, 121, 168, 0.30);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.register-section.expand {
    min-height: 275px;
    max-height: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.register-section.full-expand {
    width: 500px;
    max-width: 500px;
    justify-self: center;
    border-radius: 10px;
    min-height: 440px;
    max-height: 590px;
}

.last-line-verification {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.verification-tick-message {
    display: flex;
    align-items: center;
    font-size: large;
    margin-top: 8px;
}

.error-verification {
    display: flex;
    font-size: medium;
    font-style: oblique;
    padding-top: 5px;
}

.subtitle-register {
    margin-bottom: 3px;
}

.ok-credentials {
    display: flex;
    font-size: medium;
    font-weight: bold;
    color: rgb(199, 219, 15); /* rgb(35, 205, 46) */
    padding-top: 8px;
    padding-bottom: 0;
    text-shadow: 2px 1px rgb(15, 15, 135); /* 14, 14, 171 */
}
